<script  src="../assets/js/header.js"></script>
    <title>金财村</title>
    <style>
    #con{
    	margin: 0 auto;
    	float:none;
    	color: #666;
    }
   
	.layui-card .layui-card-header{

		font-weight: bold;
		font-size: 24px;
	}
	.layui-card .layui-card-body{
		font-size: 20px;
		text-indent:2em;
		text-align: justify;
		line-height: 36px;
		padding:30px;
	}
    </style>
	
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md8" id="con">
        	<div class="layui-card">
				<div class="layui-card-header">金财村概况</div>
				<div class="layui-card-body">
					<div >金财村位于山东省金财市金财路街道办事处北部，距办事处机关0.5公里，东与金财村为邻，北与金财村交界，西与金财村接壤，南与金财村相连。该村地处金财冲积平原，地势西高东低。土壤以沙壤土为主。东西最大距离1公里，南北最大距离0.5公里。境内有4条沥青路与村内街道相连接。交通十分便利。全村辖区总面积46公里，村庄建成区面积30公顷。</div>
				</div>
			</div>
	      	
    	</div>
           
            
        </div>
    </div>
<script src="../assets/js/footer.js"></script>
<script>
 var element = layui.element;
</script>
