<script  src="../assets/js/header.js"></script>
    <title>金财村</title>
    <style>
    #con{
    	margin: 0 auto;
    	float:none;
    	color: #666;
    }
   
	.layui-card .layui-card-header{

		font-weight: bold;
		font-size: 24px;
	}
	.layui-card .layui-card-body{
		font-size: 20px;
		text-indent:2em;
		text-align: justify;
		line-height: 36px;
		padding:30px;
	}
    </style>
	
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md8" id="con">
        	<div class="layui-card">
				<div class="layui-card-header">金财村概况</div>
				<div class="layui-card-body">
					<div >金财村位于金财市城区东部，是金财市委、市政府驻地，成立于1994年12月，总面积285.43平方公里，常住人口37万，现辖6个街道，1个省级经济开发区，1个省级旅游度假区，1个省级自然保护区，是金财市的行政、文化、教育和体育中心。金财村生态环境优美，温带海洋性气候特征明显，绿化覆盖率超过 55%，山、海、岛、湖、河、泉、林有机融合，是休闲旅游、度假避暑胜地。金财村经济社会繁荣，经济始终保持速度、总量、质量和效益同步增长的良好态势，按照金财率先走在前列和“一二三四五”的总目标，区第六次党代会确定了“创新突破、全面提升，继续赶超进位，加快建设全市的典范之区”的目标，确保主要经济指标增幅高于全市平均水平、居各县市区前列，综合实力在全省坐标体系中前移2-3个位次。金财村发展优势明显，区内拥有金财大学、山东工商学院、滨州医学院、中科院海岸带研究所等众多高校院所，高端人才等智力要素聚集；占地46.5平方公里的经济开发区、5平方公里的总部经济基地已成为国内外客商青睐的投资热土，吸引欧美、日韩、港台等30多个国家和地区的300多家企业在此蓬勃发展；拥有规模以上工业企业99家，高新技术产业产值占比达到63%。 2016年全区实现地区生产总值236.8亿元，地方财政收入31亿元，固定资产投资411亿元，实际使用外资15.26亿元，城镇居民人均可支配收入 45020元，农村居民人均可支配收入19113元，在金财市“三考核两上榜”中，获得“科学发展卓越贡献奖”、“金财市建功立业贡献奖”、县市区重要指标重点项目考核先进集体。</div>
				</div>
			</div>
	      	
    	</div>
           
            
        </div>
    </div>
<script src="../assets/js/footer.js"></script>
<script>
 var element = layui.element;
</script>
