<script  src="../assets/js/header.js"></script>
    <title></title>
    <style>
		#yzt{
			position:fixed;
		    top: 0;
		    left: 0;
		    width:85%;
		    height: calc(100% - 10px);
		    min-width: 1000px;
		    z-index:-10;
		    zoom: 1;
		    background-color: #fff;
		    background: url(../assets/images/yzt.jpg) no-repeat;
		    background-size: cover;
		    -webkit-background-size: cover;
		    -o-background-size: cover;
		    background-position: center 0;
		    margin-left: 5%;
		 }
			
    </style>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
        
            <div id="yzt"></div>
            
        </div>
    </div>
<script src="../assets/js/footer.js"></script>
<script>


</script>
